!
transceiver qsfp default-mode 4x10G
!
hostname {{ inventory_hostname }}
!
ntp server {{ ntp_server1 }}
!
spanning-tree mode rapid-pvst
!
aaa authorization exec default local
!
no aaa root
!
!
clock timezone {{ timezone }}
!
vlan 2-7
!
{% for interface in interfaces %}
{% for interfaces, name in interface.items() %}
interface {{ interfaces }}
{% if name.mode == 'access'  %}
   switchport access vlan {{ name.vlan_id }}
{% elif name.portfast %}
   spanning-tree portfast
   spanning-tree cost 1
{% endif %}
!
{% endfor %}
{% endfor %}
interface Management1
   shutdown
!
interface Vlan1
   ip address {{ vlan1_ip_address }}/{{ vlan1_netmask }}
!
ip route 0.0.0.0/0 {{ def_gateway }}
!
ip routing
!
management api http-commands
   no shutdown
!
end
